<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SelectorEntities" connectionString="metadata=res://*/SelectorModel.csdl|res://*/SelectorModel.ssdl|res://*/SelectorModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=TEST;PASSWORD=tigger;USER ID=SYSADM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>